body {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(235, 251, 255);
}

/* ------------------------- Timed Exercise ----------------------------- */
form.timeExercise {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(159, 188, 200);
  padding: 0 1% 1rem 1%;
  border-radius: 5px;
}

form.timeExercise label {text-align: center;}

input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}

label {
  margin-bottom: 3px;
  display: block;
}

div.title {flex-basis: 100%;}
div.title h2 {text-align: center;}

.name {flex-basis: 100%;}
.name input {
  margin-bottom: 1rem;
  width: 100%;
}

.distance {flex-basis: 25%;}
.distance input {width: 100%;}

.duration {flex-basis: 36.5%;}
.duration input {
  padding: .65rem 0 .65rem .5rem;
  width: 100%;
}

.date {flex-basis: 36.5%;}
.date input {
  padding: .7rem 0 .7rem .5rem;
  width: 100%;
}

.submit {
  flex-basis: 100%;
  margin: 1rem 43% 0 43%;
  text-align: center;
  padding: .4rem 2rem .4rem 2rem;
  border: none;
  border-radius: 5px;
  color: rgb(0, 111, 158);
  background-color: rgb(159, 188, 200);
  border: 2px solid rgb(0, 111, 158);
}

.submit:hover {
  background: rgb(0, 111, 158);
  color: white;
}

input {
  padding: .8rem 0 .8rem .5rem;
  outline: none;
  border: none;
  box-sizing: border-box;
}

div.previous {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1%;
  margin-bottom: 1rem;
  background: rgb(159, 188, 200);
}

div.previous label {
  text-align: center;
}

div.previous span {
  display: block;
  padding: 10px 20px 10px 5px;
  margin-bottom: .5rem;
  background: white;
}

div.previous div.previousName {
  flex-basis: 100%;
}

div.previous div {
  flex-basis: 32.3%;
}

div.previous div.delete {flex-basis: 100%;}

div button {
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 7px 20px;
}

div.previous div.editDelete {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
}

div.previous div.delete {flex-basis: 15%;}

div.previous div.edit {flex-basis: 85%;}

div.previous div.delete button, div.previous div.edit button{
  float: right;
}

div.previous div.edit button{
  background-color: rgba(255, 255, 77, 0.7);
}
div.previous div.edit button:hover {
  background-color: rgb(255, 255, 77);
}

div.previous div.delete button{
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}
div.previous div.delete button:hover {
  background-color: rgb(255, 0, 0);
}

div.previous input {
  width: 100%;
}

div.previous div.previousName input {
  margin-bottom: 8px;
  padding: .8rem 0 .8rem .5rem;
}
div.previous div.previousDistance input {padding: .8rem 0 .8rem .5rem;}
div.previous div.previousDate input {padding: .7rem 0 .7rem .5rem;}
div.previous div.previousDuration input {padding: .6rem 0 .6rem .5rem;}

div.previous div.editDelete button.save{
  background-color: rgba(0, 130, 0, 0.701);
  color: white;
  margin-top: .5rem;
}
div.previous div.editDelete button.save:hover {
  background-color: rgb(0, 130, 0);
}

div.previous div.editDelete button.cancel {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  margin-top: .5rem;
  margin-right: 2rem;
}
div.previous div.editDelete button.cancel {background-color: rgb(255, 0, 0);}
/* ------------------------- Set Exercise ----------------------------- */
form.setExercise {
  background: rgb(159, 188, 200);
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 1% 1rem 1%;
  text-align: center;
}

div.sets, div.reps, div.weight, div.date2 {
  flex-basis: 24%;
}
div.sets input, div.reps input, div.weight input, div.date2 input{
  width: 100%;
}

div.previous div.sets, div.previous div.reps, div.previous div.weight, div.previous div.date2 {
  flex-basis: 24%;
}


/* ------------------------- App.vue styling ----------------------------- */
button.show1, button.show2 {
  color: rgb(0, 111, 158);
  border: 2px solid rgb(0, 111, 158);;
  background: rgb(235, 251, 255);
  margin-top: 1rem;
  float: none;
  flex-basis: 40%;
}

button.show1:hover, button.show2:hover {
  background: rgb(0, 111, 158);
  color: white;
}

div.showButtons {
  display: flex;
  justify-content: space-around;
}

h1.history {margin-top: 5rem;}

h1 {color:rgb(0, 111, 158);}